
.contenido_d{
  padding-top: 6%;
  background-color: #e7e8eb;
  border-radius: 20px;
}

.h1{
  text-align: center;
  background-color: #e7e8eb;
  border-radius: 20px;
}

.contenido_2{
  padding-top: 6%;
  background-color: #e7e8eb;
  border-radius: 20px;
}
