<style media="screen">
.contenido_d{
  padding-top: 6%;
  background-color: #e7e8eb;
  border-radius: 20px;
}

.h1{
  text-align: center;
  background-color: #e7e8eb;
  border-radius: 20px;
}
</style>

<div class='uk-container uk-container-center contenido_d'>
  <h1 class="uk-container uk-container-center h1">Bienvenido a mi Pagina </h1>
<p class="h1">
  Logeate en Facebook para continuar
</p>

<a class="uk-width-large-1-1 uk-button uk-button-primary" href="/auth/facebook" id="btn_fb_auth">LogIn</a>
</div>
</div>
